*{   
    margin: 0;
    padding:0;
}
h1{
    text-align: center;
    padding: 10px 2px;
}
.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;        
    font-style: italic;    
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.request {
    background-color: black;
    padding: 10px 2px;
    text-align: center;
   
}
.request-label__1,.request-label__2{
    color: #E3B873;
    font-size: 20px;
    padding: 10px 10px;
}
.request-input__1,.request-input__2{
    padding: 10px 10px;
    margin-left: 5px;
}

ul{
    padding: 20px 20px;
 
    
}
img{
    padding: 10px 10px;
    max-width: 100px;
    max-height: 100px;
    display: block;
    
}
li{
    font-style: oblique;
}